<!DOCTYPE html>
<html>
<head>
  <title>Codemasters</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <ul>
      <li><%= link_to "logout", destroy_user_session_path, method: 'delete' %></li>
      <li><%= link_to "profile", user_path(current_user) %></li>
    </ul>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
